<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet.css" type="text/css">
    <title>اهدای ماسک</title>
    
</head>
<body>
    <div class="navbar">
        <div>

        </div>
        <div>
            <a href="/">
                ثبت کدملی
            </a>
        </div>
        <div>
            <a href="/list">
                لیست کدملی‌ها
            </a>
        </div>
        <div></div>
    </div>
    <div class="error-container">
        این کد ملی قبلا ثبت شده است.
    </div>
    
</body>
</html>